<!DOCTYPE html>
<html>
	<head>
		<title>Gemini - Warehouse Tracker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:title" content="Warehouse Tracker" />
		<meta property="og:site_name" content="Project: Warehouse Tracker" />
		<meta property="og:url" content="https://www.yanelyramirez.com/projects/gemini.html" />
		<meta property="og:description" content="Project: Warehouse Tracker" />
		<meta property="og:image" content="https://www.yanelyramirez.com/images/headers/gemini-header.png" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:site" content="@yxnely" />
		<meta property="twitter:creator" content="@yxnely" />
		<meta property="twitter:url" content="https://www.yanelyramirez.com/projects/gemini.html" />
		<meta property="twitter:description" content="Project: Warehouse Tracker" />
		<meta property="twitter:image" content="https://www.yanelyramirez.com/images/headers/gemini-header.png" />

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		<link rel="stylesheet" href="css/gemini.css">
		<link rel="icon" type="image/png" href="img/favicon.png" sizes="16x16">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114029144-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-114029144-1');
		</script>
	</head>
	<body>
		<div class="header"><a href="https://yxnely.github.io/portfolio-projects/gemini/Gemini.html"><img src="img/gemini.png" alt="Gemini Logo"></a></div>
		<div id="app" class="container">
            <ul class="status-list" v-show="showOptions">
				<li class="button" v-for="status in statuses" @click="filter(status.id)">{{ status.text }}</li>
				<li class="button" @click="showAll">All</li>
			</ul>

			<div class="package-container" v-show="showList">
				<span @click="reset">&#8592; Back</span><br><br>
				<h2>{{ activeList }}</h2>
				<ul>
					<li v-for="package in packages" @click="getItem(package.id)"># {{ package.id }}</li>
				</ul>
			</div>

			<div class="package-details" v-show="showDetails">
				<span @click="resetItem">&#8592; Back</span><br><br>
				<h2>Details</h2>
				<section>
					<h3>ID #</h3>
					<p>{{ item.id }}</p>
				</section>
				<section>
					<h3>Description</h3>
					<p>{{ item.description }}</p>
				</section>
			</div>
		</div>
		<footer>Made with Vue.js by <a href="https://yanelyramirez.com">Yanely Ramirez</a></footer>
	</body>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script type="text/javascript" src="scripts/packages.js"></script>
</html>