:root {
    --main-color: #A8BCB8;
}

.list {
    margin: 0 auto;
    max-width: 200px;
}

.status-list {
    @extend .list;
    
    li {
        background: var(--main-color);
        color: white;
        cursor: pointer;
        padding: 1rem 0;
        margin: 1rem 0;
        text-align: center;
        width: 100%;
    }
}

.package-container {
    margin: 0 auto;
    max-width: 500px;

    ul { color: grey; }

    li {
        border-bottom: 1px solid grey;
        padding: 1rem 0;
    }
}