:root {
    --main-color: #3CE59E;
    --gray: #98989D;
    --black: #222222;
    --light-white: #F3F3F3;
    font-family: 'Avenir', 'Arial', sans-serif;
    font-size: 16px;
}

a {
    &.button {
        background: var(--main-color);
        border: none;
        border-radius: 1rem;
        color: white;
        cursor: pointer;
        display: block;
        font-size: 1rem;
        font-style: italic;
        margin: 0 auto;
        max-width: 175px;
        padding: .5rem 0;
        text-transform: uppercase;
        text-decoration: none;
        width: 100%;
    }

    &.link {
        color: var(--black);
        text-decoration: none;
    }
}

.login-container {
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    width: 95%;

    img {
        max-width: 300px;
    }
}

.input-container {
    margin-top: 3rem;

    > div { position: relative; }

    label {
        color: var(--gray);
        font-size: .8rem;
        line-height: 1.5rem;
    }
    
    input,
    .input {
        border: none;
        border-bottom: 1px solid var(--light-white);
        font-family: 'Avenir', 'Arial', sans-serif;
        font-size: 1rem;
        outline: none;
        margin-bottom: 3rem;
        padding-bottom: .5rem;
        width: 100%;
    }

    .input {
        cursor: pointer;
        height: 1rem;
    }

    .fa {
        bottom: .5rem;
        color: var(--main-color);
        position: absolute;
        right: .5rem;
    }
}

.useful-links {
    margin-top: 2rem;

    a { font-size: .8rem; }

    a:first-of-type {
        float: left;
    }

    a:last-of-type {
        float: right;
    }
}

/* ----------- Home Page ------------- */
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    width: 95%;

    .fa-bars {
        cursor: pointer;
        font-size: 1.5rem;
    }
}

.introduction {
    font-size: 1.5rem;
    text-align: center;
    display: none;

    .link {
        color: var(--main-color);
        display: block;
        margin-top: 1rem;
    }
}

.summary {
    margin: 0 auto;
    max-width: 300px;
    width: 95%;
}

.options {
    li {
        border-bottom: 1px solid var(--light-white);
        line-height: 2rem;
        list-style: none;
        margin-bottom: 1rem;
        position: relative;
    }

    .fa {
        cursor: pointer;
    }
}